/* global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto Slab", serif;
  font-weight: 200;
}

.services,
.portfolio {
  padding-bottom: 70px;
  padding-top: 70px;
}

.btn {
  display: inline-block;
  margin: 24px auto 0 auto;
  color: #fff;
  padding: 16px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 3px #fed136 solid;
  background-color: #fed136;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn:hover {
  background-color: #fff;
  color: #fed136;
  border: 3px #fff solid;
}

.section-description {
  text-align: center;
}

.section-title {
  color: #222;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.section-text {
  color: #777777;
  margin-top: -30px;
  margin-bottom: 70px;
  font-size: 18px;
  font-family: "Lora", serif;
}

/*header*/
.main-header {
  background-image: url("/images/Background-image.jpg");
  color: #fff;
  min-height: 600px;
  position: relative;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding-bottom: 60px;
}

.background-tint {
  position: relative;
}

.background-tint::before {
  background-color: #000;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.text-header {
  text-align: center;
}

.title-header {
  font-size: 72px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.inner-header {
  font-family: "Lora", serif;
  font-size: 45px;
  font-weight: 300;
  font-style: italic;
}

/*navigation*/
.navigation {
  padding: 12px 0;
  text-align: right;
}

.navigation ul {
  padding: 15px 0 0 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation .navbar-nav {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.navigation .navbar-nav:hover {
  color: #fed136;
}

.brand {
  text-align: left;
}

.navbar-brand {
  color: #fed136;
  text-decoration: none;
  font-family: "Great Vibes", cursive;
  font-size: 32px;
}

/* section services */
.services {
  background-color: #fff;
  text-align: center;
}

.box-services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.box-services i {
  border-radius: 50%;
  border: 5px solid #fed136;
  width: 100px;
  height: 100px;
  color: #fed136;
  font-size: 40px;
  line-height: 90px;
}

.box-services h3 {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.box-services p {
  color: #777777;
}

/* section portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.card-img-top {
  margin-bottom: -25px;
}

.card-body {
  background-color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.card-body h3 {
  font-weight: 500;
  padding-top: 10px;
  color: #333333;
}

.portfolio-text {
  padding: 10px;
  color: #737373;
  height: 100%;
}

.card-text {
  margin-top: -25px;
  font-size: 14px;
  font-family: "Lora", serif;
}

/*footer */
.footer {
  margin: 48px 0 48px 0;
  background-color: #fff;
}

.footer .text-left {
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  padding-top: 12px;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
}

.footer i {
  font-size: 12px;
  background-color: #222222;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px 0 15px;
  border-radius: 50%;
}

.footer i:hover {
  transform: scale(1.2);
  transition: all 2s;
}

.footer span {
  font-size: 0;
}

@media (max-width: 767px) {
  /* global */
  .box-services {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navigation ul {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  .navigation ul li {
    margin: 0 10px 0 0;
  }
  .brand {
    text-align: center;
  }
  .title-header {
    font-size: 50px;
  }
  .inner-header {
    font-size: 35px;
  }
  .btn {
    width: 100%;
  }
  /* section service */
  .box-services i {
    display: none;
  }
  .services, .portfolio {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */